@import "tailwindcss";

body {
  background-image: url("https://img.freepik.com/free-vector/abstract-blue-light-pipe-speed-zoom-black-background-technology_1142-9530.jpg?semt=ais_hybrid&w=740&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: "Poppins", sans-serif;
}


.gradient-text {
  background: linear-gradient(90deg, #22b3c6, #ff007f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
